<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.ooad.flashcards">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".cards.CardsPackagesListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cards.AddCardActivity"
            android:label="@string/add_card_label" />
        <activity
            android:name=".cards.AddCardPackageActivity"
            android:label="@string/add_package_label" />
        <activity android:name=".cards.CardsPackageViewActivity" />
        <activity android:name=".cards.EditCardActivity" />
        <activity android:name=".cards.EditCardPackageActivity" />
        <activity android:name=".cards.CardViewActivity" />
        <activity android:name=".slideshow.SlideShowActivity" />
        <activity android:name=".symbols.SymbolsPackagesListViewActivity" />
        <activity android:name=".symbols.SymbolsPackageViewActivity"></activity>
    </application>

</manifest>